*{
  margin: 0;
  padding: 0;
}

hr{ 
   width:50%;
 }

 .btn-group{
	text-align: center;
}

.fa-chevron-left{
	position: relative;
	bottom: 25px;
    top: 42px;
    right: -34;
    left: -34;
    right: -76px;
}

#primerinput{
	    width: 30px;
}

#segundsec{
	background-color: #A9036A;
	color: white;
	position: relative;
	top: 98px;
}
#next{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(left, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 */
color:white;
}

